<h1>Teams#edit</h1>
<p>Find me in app/views/teams/edit.html.erb</p>

<h2>Assign users</h2>
  <% @users.each do |user| %>
  <%= user.first_name %>
  <br>
  <%= user.email %>
  <br>
  <%= link_to "Add to team", planning_team_path( user_id: user.id, team_id: @team_id), method: :patch %>

  <% end %>
