<div class="modal fade modal-slot" id="slotModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Créez un Slot</h4>
      </div>
      <div class="modal-body">
      blablabla
        <%= render 'slots/form', slot: @slot, planning: @planning %>
      </div>
    </div>
  </div>
</div>
