<h4><strong>Conflit à résoudre: </strong>Shift de <strong>Barista</strong> du <strong>16/09</strong></h4>
<h5 style="color:red;">Pas de disponibilité de l'équipe</h5>
<h5>Autres ressources disponibles :</h5>
<p>
  <%= avatar_with_border_color(@user_solution) %> <br>
<!--   <%= @user_solution.first_name.capitalize %> -->
</p>

<div class="btn btn-success" onclick="hide_this()">Valider</div>
<div class="btn btn-primary" onclick="hide_this()">Annuler</div>


<script>
function hide_this() {
  $("#slot_form").hide();
           }


  </script>

