// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

//colors ca plane pour moi :

$myblue: #516568;
$myyellow: #FEBE0E;
$mygrey: #5B5B5B;
$mylightgrey: #9A9C9C;
$background: rgba(81, 101, 104, 0.06);
$mygreen: #9BF171;
$mylightgreen: #D0FEA8;
$myorange: #FD8851;
$mywhite: white;
$mygreycards: #9A9C9C;
$myyellowcards: #FFC847;

$myslot1: #191654;
$myslot2: #89043D;
$myslot3: #C6B849;
$myslot4: #8D816F;
$myslot5: #AD7A99;
$myslot6: #3E5665;
$myslot7: #1D1D75;
$myslot8: #FFED6E;
$myslot9: #5F4354;
$myslot10: #CF9700;
