// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

//colors ca plane pour moi :

$myblue: #516568;
$myyellow: #FEBE0E;

$myslot1: #87BCDE;
$myslot2: #89043D;
$myslot3: #C6B849;
$myslot4: #8D816F;
$myslot5: #AD7A99;
$myslot6: #3E5665;
$myslot7: #1D1D75;
$myslot8: #AD7A99;
$myslot9: #5F4354;
$myslot10: #CF9700;
