<div class="row">
  <div class="col-xs-2">
    <b>User</b>
  </div>
  <div class="col-xs-2">
    <b>Skilled?</b>
  </div>
  <div class="col-xs-2">
    <b>Status</b>
  </div>
  <div class="col-xs-2">
    <b>h/day</b>
  </div>
  <div class="col-xs-2">
    <b>h/week</b>
  </div>
  <div class="col-xs-2">
    <b></b>
  </div>
</div>
