#general-container {
  min-height: calc(100vh - 120px);
  width: calc(100vw - 100px);
}

body {
  background-color:white;
}

.wraper h2 {
  margin-bottom: 30px;
}

h2 {
  color: $mygrey;
}

.wrap-plan {
  background-color: $background;
  padding: 15px;
  position:relative;
  margin-bottom:20px;
  border-radius:4px;
  margin-top: 20px
}

.triangle {
  height:0px;
  width:0px;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 20px solid $background;
  left: 23%;
  position:absolute;


}
