<div class="modal fade modal-user" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true" id="userModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          <strong>Les infos de <%= @user.first_name.capitalize %></strong>
        </h4>
      </div>

    <!-- Modal Body -->
      <div class="modal-body">
        <%= render 'modal_content' %>
      </div>
    </div>
  </div>
</div>
