<div class="footer">

  <!-- Logo -->
  <div class="footer-item-left">
    <a href="/" class="footer-wagon-item footer-wagon-link">Ça <span class="color-word">Plan</span> Pour Moi</a>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
</div>

