<h1>Planning for week : <%= @planning.week_number %></h1>
<br>

<div class="planning-steps">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <div  style="color: light_grey; text-align: center">1</div>
        <%= link_to "Skeleton", planning_skeleton_path(@planning) %>
      </a>
    </li>
    <li>
      <a class="nav-link active" href="#">
        <div  style="color: light_grey; text-align: center;"">2</div>
        <%= link_to "Users", planning_users_path(@planning) %>
      </a>
    </li>
    <li>
      <a class="nav-link active" href="#">
        <div  style="color: light_grey; text-align: center";">3</div>
        <%= link_to "Conflicts", planning_conflicts_path(@planning) %>
      </a>
    </li>
  </ul>
</div>
