<h1>Planning for week : <%= @planning.week_number %></h1>

<div class="planning-steps">
  <%= link_to "skelton", planning_skeleton_path(@planning) %>
  <%= link_to "users", planning_users_path(@planning) %>
  <%= link_to "conflicts", planning_conflicts_path(@planning) %>
</div>
