.attachinary_container {
  ul {
    margin-top: 5px;
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  .remove {
    cursor: pointer;
  }
}

.custom-file-upload {
  font-weight: normal;

  input[type="file"] {
    display: none;
  }

  .custom-file-upload-btn {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
}

