.btn-success {
background-color: $myblue;
border-radius: 50px;
border: none;
}
.btn-default {
background-color: $mylightgrey;
border-radius: 50px;
border: none;
}

.btn-action {
background-color: $myblue;
color: white;
border-radius: 50px;
border: none;
}
