
.footer {
  background: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: auto;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-plane {
  color: #D23333;
}

/* Basic navbar item */
.footer-wagon-item {
  text-align: center;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.footer-wagon-link {
  color: white;
  font-size: 20px;
  font-family: Raleway;
}
.footer-wagon-link:hover {
  color: white;
  text-decoration: none;
}
