.tamere {
  display:flex;
  justify-content: center;
}

ul.list-inline {
  text-align:center;
}

.daysbox {
  border: 1px solid $myblue;
  background-color: $myblue;
  color: $myyellow;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  padding:0px;
}

.daysbox.checked {
  background-color: $myyellow;
  color: $myblue;
}

.category-box {
  border: 1px solid $myblue;
  background-color: $myblue;
  color: $myyellow;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  padding:0px;
}

.category-box.checked {
  background-color: $myyellow;
  color: $myblue;
}

.unselectable {
  background-color: $mygrey;
  opacity: 0.5;
  :hover {
    cursor: default;
  }
}


.form-control {
  font-family: "Muli", "Helvetica", "sans-serif";
  font-size: 14px;
}

label {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
}

.button-group {
  button {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
  }
  input {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
  }
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  .input-group {
    width: 70%;
  }
  .select {
    width: 70%;
  }
}
.nb-employees-range {
  width: 70%;
  margin:auto;
  p {
  padding-bottom: 20px;
  margin-left: -50px;
  }
  .slider {
    width:100% !important;

  .slider-track-high {
    background-color: $mylightgrey;
  }

  .slider-selection {
    background-color:$myblue;
    background-image: -webkit-gradient(linear, left top, left bottom, from($myblue), to($myblue));
  }
  }
  .slider-handle {
    background-image: -webkit-gradient(linear, left top, left bottom, from($myyellow), to(#FDC419));
    background-color: $yellow;
  }
  .tooltip-inner {
    background-color: $myblue;
    color: $myyellow;
  }
  .tooltip {
    margin-left: -13px !important;
    z-index: 0;
    font-size: .8em;
  }
}

.checked {
  background-color: $myyellow !important;
  color: $myblue;
}

.annuler {
background-color: white;
color: #566568;
border-color: #566568;
}
