.daysbox {
  background: $mylightgrey;
  width: 100px;
  height: 30px;
}

.checked {
  background: $myyellow;
}

.annuler {
background-color: white;
color: #566568;
border-color: #566568;
}
.btn-success {
background-color: #759CE7;
border-radius: 50px;
border: none;
}
.btn-default {
background-color: $mylightgrey;
border-radius: 50px;
border: none;
}
