.daysbox {
  border: 1px solid $mygrey;
  width: 100px;
  height: 30px;
}

.unselectable {
  background: $mygrey;
  opacity: 0.5;
  :hover {
    cursor: default;
  }
}

.checked {
  background: $myyellow;
}

.annuler {
background-color: white;
color: #566568;
border-color: #566568;
}
.btn-success {
background-color: #759CE7;
border-radius: 50px;
border: none;
}
.btn-default {
background-color: $mylightgrey;
border-radius: 50px;
border: none;
}
