.list-metiers {
  position: relative
}

.metier {
  width:100%;
  background-color: $mylightgrey;
  i {
  position: absolute;
  left:45%;
  color: white;
  font-size: 38px;
  top:4px;
  }
}

.metier {
  height : 45px;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.dragndrop-metiers {
  li {
  width: 200px;
  height : 35px;
  padding:5px;
  border-radius: 6px;
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: -10px;
  }
}
