.modal-user{

  .modal-content {
    text-align: center;
    height: 90vh;
    width: 100vh;
  }
}
.modal-content {
  .dispos{
    padding: 20px;
    color: #516568;
    height: 450px;
    width: 100%;
  }
}
.modal {
  margin-right: 27vh;
  margin-left: 0vh;
}
