:root {
  --postop: 0px;
}

.modal-events {
  width: 100%;
  height:100%;
  outline: none;
  position:fixed;
  margin:auto;
  .modal-content {
    width:400px;
    display:table;
    margin: auto;
    top: var(--postop);
  }
}
