:root {
  --postop: 0px;
}

.modal-use-template .modal-content {
  width: 50%;
  height:50%;
  outline: none;
  margin:auto;
  top: var(--postop);
  display:table;
  .planning-block{
    display:flex;
    justify-content: center;
    text-align: center;
    border: 3px solid $myyellow;
    background-color: $myblue;
    color: $myyellow;
    border-radius: 8px;
      &:hover {
    background: $myyellow;
    color: $myblue;
    text-decoration: none;
    }
    .template_roles{
      text-align: justify;
    }
  }
}
