.modal-user{

  .modal-content {
    text-align: center;
    height: 100vh;
    width: 100vh;
  }
  .modal-content {
    .dispos{
      padding: 20px;
      color: #516568;
      height: 600px;
      width: 100%;
    }
  }
  .modal {
    margin-right: 27vh;
    margin-left: 0vh;
  }

}
