.modal-user {

  .modal-content {
    text-align: center;
    height: 90vh;
    width: 100vh;
  }
}
.dispos{
  padding: 20px;
  color: #516568;
  height: 450px;
  width: 750px;
}

.modal {
  margin-right: 27vh;
  margin-left: 0vh;
}
