.step .step-num {
  color: $mygrey;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight:lighter;
}

.step .comment {
  color: $mygrey;
  font-size: 14px;
  font-weight:lighter;
  opacity: 0.8;
}

.un {
  --num : "1";
}

.deux {
  --num : "2";
}
.trois {
  --num : "3";
}
.quatre {
  --num : "4";
}

.step .progress {
  position: relative;
  border-radius: 0px;
  height: 5px;
  box-shadow: none;
  margin: 18px 0;
}

.step .progress .progress-bar {
  width:0px;
  box-shadow: none;
  background: $myyellow;
}
.step.completed .progress .progress-bar {
  width: 100%;
}
.step.active {
  .progress .progress-bar {
    width: 50%;
  }
  .step-num {
    font-weight: bold;
  }
  .comment {
   font-weight: bold;
  }

}
.step {
  &:first-child.active .progress .progress-bar {
    width: 0%;
  }
  &:last-child.active .progress .progress-bar {
    width: 100%
  }
}
.step.disabled .dot {
  background-color: $mylightgrey;
  &:after {
    background-color:$mylightgrey;
    color: $mygrey

  }
}
.step {
  &:first-child .progress {
    left: 50%;
    width: 50%;
  }
  &:last-child .progress {
  width: 50%;
  }
}

.step .dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $myblue;
  display: block;
  position: absolute;
  top: 6px;
  left: 43%;

  &:after {
    content: var(--num);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $myyellow;
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    text-align: center;
    font-size: 0.7em;
  }

}

.steps {
  padding: 0 0 10px 0;
  margin-top:5px;
}

.step {
  padding: 0;
  position: relative;
}


.button {
  display: block;
  position: absolute;
  right: 0px;
  outline:none;
  text-align: center;
  width: 60%;
  padding: 5px 4px 5px 4px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $myyellow;
  color:$myyellow;
  letter-spacing:1px;
  font:{
    size:15px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $myyellow;
    text-decoration: none;
  }
}
.onclic {
  border-color:$myyellow;
  border-width:3px;
  font-size:0;
  border-left-color:$myyellow;
}
.validate {
  font-size:13px;
  color: white;
  background: $green;
}

.button-center {
  position: center;
}


