h3 {
  font-size: 20px;
}

.history {
  opacity: 0.4;
}

.panel > a {
  text-decoration: none;
  color: $mygrey;
}
.panel > a:hover {
  text-decoration: none;
  color:black;
}
.panel:hover {
  background-color: $background;
}

.panel-body {
  padding: 10px;
}

#sol-list {
  font-size:16px;
  display: flex;
  align-items: center;
}

.computation-title {
  margin: 0px 20px 0px 20px;
}

.compute-props{
  flex-grow: 1;
  display:flex;
  justify-content: space-around;
}
.infos {
  width:33%;
  margin-left: 5px;
  blockquote {
    padding:5px;
    margin: 0px;
  }
  p {
    font-size:15px;
    color:$mygrey;
    padding:0px;
    margin:0px
  }
  footer {
    font-size : 14px;

  }
  ul {
    list-style-type:none;
    padding-left: 0px;
  }
  .role-name {
    padding: 0px 4px;
  }
}

.list-group {
  font-size: 15px;
  margin-bottom: 5px;
  .chosen {
    border: 2px solid rgba(37, 50, 113,0.7);
  }
}
.sol-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  padding: 5px 15px;
}

.label{
  &-caplan {
  background-color: #324584;
  color: $myyellow;
  }
}

.badge {
  font-weight: normal;
  &-blue {
  color: $myyellow;
  background-color: #324584
  }
  &-white {
    color: $mygrey;
    background-color: white;
  }
  &-red {
    color: white;
    background-color: $myred;
  }
  &-green {
    background-color: $mygreen;
  }
}

.badge-red-hide {
  visibility: hidden;
}

.action-group {
  text-align: center;
  a {
  display:inline-block;
  background-image: linear-gradient(161deg, $myblue, 0%, #324584 46%, #445A9E 100%);
  border-radius: 5px;
  padding: 2px 15px;
  margin-left: 10px;
  color: $myyellow;
  text-decoration:none;
  &:hover {
    background-image: linear-gradient(161deg, $myyellow, 0%, $myyellow 46%, $myyellow 100%);
    color: $myblue;
    }
  }
}

.sol-details {
  flex-grow:1;
  margin: 0px 10px;
}


.sol-status {
  display: inline-block;
  font-size: 90%;
}
