.panel > a {
  text-decoration: none;
  color: $mygrey;
}
.panel > a:hover {
  text-decoration: none;
  color:black;
}
.panel:hover {
  background-color: $background;
}

#sol-list {
  font-size:16px;
  display: flex;
  align-items: center;
}


.nb_solutions {
  background: white;
  color: $mygrey;
}

.computation-title {
  margin: 0px 20px 0px 20px;
}
.infos {
  margin-left: 5px;
  blockquote {
    padding:5px;
    margin: 0px;
  }
  p {
    font-size:15px;
    color:$mygrey;
    padding:0px;
    margin:0px
  }
  footer {
    font-size : 14px;

  }
}
.sol-item {
  display: flex;
  align-items: center;
}

.sol-btn {
  width: 40px;
  margin-right: 20px;
}


.sol-status {
  display: inline-block;
  width: 130px;
  font-size: 90%;
  padding: .5em;
}
