.user-avatar-index {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-avatar-border {
  border: solid 3px blue;
}

.user-list {
  text-align: center;
  margin-top: 40px;
}

.user-list p {
  font-color:#676767;
  font-size: 13px;
  padding-top: 5px
}

