
* {
  box-sizing: border box;
}


.users {
  background-color: #F5F5F5;
}


.card {
  height: 80px;
  background-color: white;
  color: #EAE9E9;
  position: relative;
  margin: 10px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
  border: 0.8px solid #A7A7A7;
}

label {
  width: 100%;
  height: 100%;
}

.choice{
  opacity: 1;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  &.active {
    opacity: 0.8;
    background-color: #FFE161  }
    .checkbox{
      display: none;
    }

  }

  .first-name {
    color: #A7A7A7;
  }

  .role {
    font-weight: 200;
    color: #4E4E4E;
  }
  .user-role {
    font-weight: 200;
    color: #333339;
    font-size: 16px;
  }

.role-name{
  display: inline-block;
  border: 0.5px solid black;
  border-radius: 25px;
  margin-right: 3px;
  padding: 4px 5px;
}
