.user-avatar-index {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.center {
  display: flex;
  justify-content: space-around;
}

.add-user-card {
  background-color: #909090;
  color: #F2F2F2;
  align-items: center;
  font-size: 40px;
  font-weight: lighter;
  display:flex;
  justify-content: space-around;
  cursor: pointer;
}

.user-list {
  text-align: center;
}

.user-list p {
  font-color:#676767;
  font-size: 13px;
  padding-top: 5px
}

