.week-tag {
  height: 50px;
  width: 170px;
  color: white;
  position: absolute;
  top:70px;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: -0.5px 0.7px #C4C4C4;
}

.week-tag p {
  font-size: 14px;
  margin:2px;
}
