.week-tag {
  height: 50px;
  width: 100px;
  color: white;
  position: absolute;
  top: 8px;
  box-shadow: 0px -1px 1px 2px $myblue inset;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.week-tag p {
  font-size: 40px;
  margin:2px;
  color: $mygrey;
}
