<h1></h1>

<div id = "calendar">
</div>

<%= content_for(:after_js) do %>
<script>
    // hide slot form
    $("#slot_form").hide();
    // make roles draggable
    $('#my-draggable').draggable({
      revert: true,      // immediately snap back to original position
      revertDuration: 0  //
    });
    // assign default event data to draggable elements
    $('.draggable').data('duration', '03:00');
  </script>
  <!-- enable bootstrap in simple form -->
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker();
      $('#datetimepicker2').datetimepicker();
    });
  </script>
  <script>
    $('#calendar').fullCalendar({
      //calendar attributes
      header: {
        left: 'prev, next',
        center: '', //title
        right: 'agendaWeek,agendaDay',
      },
      themeSystem: 'bootstrap3',
      allDaySlot: false,
      locale: "fr",
      editable: true, // events on the calendar can be modified
      droppable: true, // allows things to be dropped onto the calendar
      selectable: true,
      minTime: "07:00:00", // starting time, even when scrolled all the way up
      maxTime: "22:00:00",
      defaultView: "agendaWeek",
      defaultDate: '<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>', // s'ouvre sur le 1e lundi de la semaine sélectionnée
      hiddenDays: [ 0], // hider dimanche
      height: "auto", // implique pas de scroll à l'intérieur du calendrier
      aspectRatio: 4,
      events: '<%= resultevents_planning_path(@planning.id, solution_id: @solution.id, format: :json) %>',


      eventRender: function(event, element) {
        element.find('.fc-title').html("<img src= "+event.picture+" alt='' style='border-radius:60px; height: 3em' >");
      }
    });

  </script>
  <% end %>

