<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-item-center">
    <a href="/" class="navbar-wagon-item navbar-wagon-link">Ca <span class="color-word">Plan</span> Pour Moi</a>
    <a href="/" class="navbar-wagon-brand">
      <%= image_tag('logo.png') %>
    </a>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
