<%= render 'shared/planningsteps', locals: {planning: @planning, url: @url} %>

<div class="conflicts">
  <div class="row">
    <div id = "calendar">
    </div>
  </div>
</div>

<!-- ___________________________ JS __________________________________ -->

<%= content_for(:after_js) do %>
<script>
    // hide slot form
    $("#slot_form").hide();
    // make roles draggable
    $('#my-draggable').draggable({
      revert: true,      // immediately snap back to original position
      revertDuration: 0  //
    });
    // assign default event data to draggable elements
    $('.draggable').data('duration', '03:00');
  </script>
  <!-- enable bootstrap in simple form -->
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker();
      $('#datetimepicker2').datetimepicker();
    });
  </script>
  <script>
    $('#calendar').fullCalendar({
      //calendar attributes
      header: {
        left: '',
        center: '', //title
        right: 'agendaWeek,agendaDay',
      },
      themeSystem: 'bootstrap3',
      allDaySlot: false,
      locale: "fr",
      editable: true, // events on the calendar can be modified
      droppable: true, // allows things to be dropped onto the calendar
      selectable: true,
      minTime: "07:00:00", // starting time, even when scrolled all the way up
      maxTime: "22:00:00",
      defaultView: "agendaWeek",
      defaultDate: '<%= Date.commercial(@planning.year, @planning.week_number, 1).beginning_of_week %>', // s'ouvre sur le 1e lundi de la semaine sélectionnée
      hiddenDays: [ 0], // hider dimanche
      height: "auto", // implique pas de scroll à l'intérieur du calendrier
      aspectRatio: 4,
      events: <%= raw @slots_array.to_json %>,

      eventRender: function(event, element) {
        console.log(event.picture);
    element.find('.fc-title').append("<br/>" + "<img src= "+event.picture+" alt='' style='border-radius:60px;' >");
                                            }
    });

      function show_image(src, width, height, alt) {
        var img = document.createElement("img");
        img.src = src;
        img.width = width;
        img.height = height;
        img.alt = alt;
      }

  </script>
  <% end %>
