<h1>Planning : <%= @planning.id %></h1>

<div class="skeleton">
  <h2>Planning skeleton</h2>


<%= link_to "Next", new_planning_team_path(@planning) %>
</div>

<div class="assign-users">

</div>

<div class="ajust-planning">
  <h2>Adjust planning</h2>


</div>
